@model ScoreTracker.Controllers.HomeViewModel
@{
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ScoreTracker</h1>
        <p class="lead">A useful application for tracking your score for Table Soccer</p>
    </div>
</div>